
<body bcolor= "#ff0000" text="45tgh6">
<center> <b><u><i><h2><font face="monotype corsiva"> C y M NOTICIAS 
</font></h2></i></u></b>
<hr width=80% size=6>
<% @noticias.each do |n|%>
<p>
<%= n.titulo%> 
</p>
<%
end
%>
</body>
